# App Config
DEVICE_ID="019e0d16-6faf-798b-94e2-48a3090347af"
BACKEND_URL="http://localhost:4000"

LIVEKIT_URL="ws://localhost:7880"
LIVEKIT_DEVICE_SECRET="supersecretvalue"

# AI Server Config
YOLO_FILE="yolov8n-pose_full_integer_quant_edgetpu.tflite"
GNN_BACKBONE_FILE="GNN_TCN_backbone_best_int8_edgetpu.tflite"
GNN_HEAD_FILE="GNN_TCN_head_best_int8.tflite"

# CPU Core used for allocating head model
CPU_USE_CORE="4"

# In case of different tpu or gpu lib, change this value
# EDGETPU_SHARED_LIB="libedgetpu.so.1"

STREAM_FRAME_SIZE="640" # or [640,640]
YOLO_IMGSZ="256" # or [256,256]

YOLO_PERSON_CONFIDENCE_THRESHOLD="0.1"
YOLO_IOU_THRESHOLD="0.3"

# Centroid Tracker & Clustering Config
# All are Pixel distance
GROUP_TRACKER_MAX_DISAPPEARED="100"
GROUP_TRACKER_MAX_DISTANCE="150"

INDIVIDUAL_TRACKER_MAX_DISAPPEARED="10"
INDIVIDUAL_TRACKER_MAX_DISTANCE="70"

SPATIAL_CLUSTERING_MAX_DISTANCE="150"